#hero{
  height:400px;
  width: 100%;
  background-image: url("header.jpg");
  background-position: top;
  background-repeat: no-repeat;
}

h3{
  font-family: 'Orbitron', sans-serif;
}
body{
  background-color: #bdbdbd;
  margin: 0,auto;
}

#logo{
  width: 100px;
  height: 64px;
}

#mental{
  height: 200px;
}

#sources{
  height: 250px;
}
